<div class="bg-black text-white text-right p-2">
<% if user_signed_in? %>
    <%= button_to "Sign out (#{current_user.email})", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
</div>
