<div class="flex flex-col justify-center items-center w-full min-h-screen">
  <div class="max-w-md">
    <h1 class="font-bold text-4xl">New report</h1>
    <%= turbo_frame_tag :new_report do %>
      <%= render "form", report: @report %>
    <% end %>
  </div>
</div>
