<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body  {
        font-family: sans-serif;
        max-width: 700px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
